---
import Heading from '@ui/heading.astro';
import WhatsappContactButton from '@components/whatsappContactButton.astro';

const { title, text } = Astro.props;
---

<section class="bg-neutral02 py-xl px-l flex justify-center">
  <div class="max-w-[600px]">
    <Heading as="h3" class="mb-4 text-center">
      {title}
    </Heading>
    <p class="leading-body text-center mb-8">
      {text}
    </p>
    <div class="flex justify-center">
      <div class="w-fit">
        <WhatsappContactButton
          text="Reserva tu llamada de valoración gratuita"
        />
      </div>
    </div>
  </div>
</section>
