---
import BenefitCard from "@components/benefitCard.astro";
import Heart from "@icons/heart.astro";
import Rules from "@icons/rules.astro";
import Starts from "@icons/starts.astro";
---

<section class="bg-neutral02 py-xl px-l grid gap-l">
  <BenefitCard
    title="Enfoque personalizado"
    text="Adaptamos cada sesión a tus necesidades, respetando tus tiempos y procesos, para que te sientas siempre cómodo/a."
  >
    <Rules />
  </BenefitCard>
  <BenefitCard
    title="Cercanía y empatía"
    text="Fomentamos un entorno de confianza, donde puedes ser tú mismo/a y encontrar apoyo auténtico."
  >
    <Heart />
  </BenefitCard>
  <BenefitCard
    title="Formación y experiencia"
    text="Contamos con una base sólida de conocimiento y experiencia, lo que garantiza un acompañamiento profesional y efectivo."
  >
    <Starts />
  </BenefitCard>
</section>
