---
import Badge from '@ui/badge.astro';
import TimeDisplay from '@ui/timeDisplay.astro';

interface Props {
  title: string;
  price?: string;
  disclaimer?: string;
  timeInMinutes: number;
}

const { title, price, disclaimer, timeInMinutes } = Astro.props;
---

<div class="grid gap-xs">
  <p class="text-info font-bold leading-info">{title}</p>
  <div class="flex gap-s align-middle items-center">
    {price ? <Badge price={price} disclaimer={disclaimer} /> : null}
    <TimeDisplay>{timeInMinutes}</TimeDisplay>
  </div>
</div>
