---
import Benefits from "@sections/benefits.astro";
import BusinessContact from "@sections/businessContact.astro";
import Contact from "@sections/contact.astro";
import Hero from "@sections/hero.astro";
import Introduction from "@sections/introduction.astro";
import Quote from "@sections/quote.astro";
import ServicesSlider from "@sections/servicesSlider.astro";
import Layout from "../layouts/Layout.astro";
import Pains from "@sections/pains.astro";
---

<Layout>
  <Hero />
  <Introduction />
  <Benefits />
  <Pains />
  <ServicesSlider />
  <Contact
    title="¿Te gustaría comenzar un proceso terapéutico conmigo?"
    text="¡Estoy aquí para acompañarte! Escríbeme y concertemos una primera sesión para conocernos."
  />
  <div class="md:flex flex-row-reverse py-xxl md:px-[200px]">
    <Quote />
    <BusinessContact />
  </div>
</Layout>
