---
import H2 from "@components/h2.astro";
import H3 from "@components/h3.astro";
import Contact from "@sections/contact.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <section class="pt-xxxl px-l grid gap-s mb-24">
    <H2> Servicios para Empresas y Centros Educativos </H2>
    <H3>
      Charlas y dinámicas para impulsar el bienestar y la cohesión en tu equipo.
    </H3>
    <p class="leading-body">
      Trabajo con Centros Educativos, Centros de Integración Social, Empresas y
      asociaciones. Me adapto a las necesidades de tu equipo, ayudándoos a
      conectar y desarrollaros en un entorno de confianza.
    </p>
    <p class="leading-body">
      No dudes en contactarme para contarme vuestra situación y encontraremos la
      manera más óptima de crecer juntos/as.
    </p>
  </section>
  <Contact
    title="¿Te gustaría saber más sobre cómo podemos colaborar?"
    text="¡Me adapto a vuestras necesidades! Cuéntame vuestra situación."
  />
</Layout>
