---
import TherapyCard from '@components/therapyCard.astro';
import Heading from '@components/ui/heading.astro';
import Contact from '@sections/contact.astro';
import { therapies } from 'src/content/therapies';
import Layout from 'src/layouts/Layout.astro';
---

<Layout>
  <section class="bg-neutral02 py-xxxl px-l grid gap-s">
    <Heading
      as="h1"
      variant="h2"
      class="text-h2 font-bold leading-h2 text-center"
    >
      Te acompaño en cada paso, sea cual sea tu situación
    </Heading>
    <p class="leading-body text-center">
      Descubre las terapias disponibles y encuentra la que mejor se adapte a tus
      necesidades.
    </p>
  </section>
  <section
    class="px-l py-xl desktop:px-xxxl desktop:py-xxl flex justify-center"
  >
    <div class="desktop:max-w-[1200px]">
      <ul class="gallery desktop:gap-y-[112px] gap-s">
        {
          therapies.map(card => (
            <li>
              <TherapyCard displayPrice={false} {...card} />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <Contact
    title="¿Damos el primer paso?"
    text="Si tienes dudas o no sabes por dónde empezar, hablemos y encontremos juntos la mejor opción para ti."
  />
</Layout>

<style>
  .gallery {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
    justify-items: center;
    align-items: start;
  }
</style>
