---
import H2 from "@components/h2.astro";
import Contact from "@sections/contact.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <section class="bg-neutral02 py-xxxl px-l grid gap-s">
    <H2>Te acompaño en cada paso, sea cual sea tu situación</H2>
    <p class="leading-body">
      Descubre las terapias disponibles y encuentra la que mejor se adapte a tus
      necesidades.
    </p>
  </section>
  <section></section>
  <Contact
    title="¿Damos el primer paso?"
    text="Si tienes dudas o no sabes por dónde empezar, hablemos y encontremos juntos la mejor opción para ti."
  /></Layout
>
