---
import Heading from './ui/heading.astro';

const { title, text } = Astro.props;
---

<div>
  <div class="flex gap-s desktop:flex-col">
    <div class="min-h-10 min-w-10 max-w-10 max-h-10">
      <slot />
    </div>
    <div>
      <Heading as="h3">
        {title}
      </Heading>
      <p class="leading-body mt-2 text-body font-normal">
        {text}
      </p>
    </div>
  </div>
</div>
