---
import type { Thumbnail } from 'src/types';
import Heading from './ui/heading.astro';

interface Props {
  title: string;
  date: string;
  summary: string;
  thumbnail: Thumbnail;
}

const { title, date, summary, thumbnail } = Astro.props;

const formattedDate = new Intl.DateTimeFormat('es-ES', {
  dateStyle: 'medium',
}).format(new Date(date));
---

<article class="grid gap-s transition-all duration-500 hover:scale-105">
  <header>
    <img src={thumbnail.src} alt="" width="350" height="270" />
  </header>
  <div>
    <Heading variant="h3" as="h4">{title}</Heading>
    <div>
      <p>
        {formattedDate}
      </p>
    </div>
    <p>{summary}</p>
  </div>
</article>
