---
import H4 from "@components/h4.astro";

const experienceImgLinks = [
  { link: "/deusto.png", name: "Deusto" },
  {
    link: "/colegio-psicologia-bizkaia.png",
    name: "Colegio de Psicología de Bizkaia",
  },
  {
    link: "/medicos-bilvao.png",
    name: "Centro de especialistas Médicos Bilbao, pediatría y adultos",
  },
  { link: "/siac.png", name: "siac" },
  { link: "/gac.png", name: "GAC, Grupo ALBOR-COHS" },
  { link: "/viu.png", name: "viu, Universidad Internacional de Valencia" },
];
---

<div class="px-l py-xl md:px-xxxl lg:px-[240px] order-2 md:order-2">
  <H4 class="md:text-center">Mi experiencia está reconocida por…</H4>
  <div class="flex justify-center w-full flex-col mt-8">
    <ul class="gallery">
      {
        experienceImgLinks.map((image) => (
          <li>
            <img src={image.link} alt={image.name} />
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 6.25em;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    justify-items: center;
  }
</style>
