---
import H4 from "@components/h4.astro";
import { experienceImgLinks } from "@content/experience";
---

<div class="px-l desktop:py-xxxl py-xxl gap-s grid justify-center">
  <H4 class="text-center font-medium">Mi experiencia está reconocida por…</H4>
  <div class="w-full flex flex-col mt-8">
    <div class="grid w-full justify-center">
      <ul class="gallery w-full desktop:w-[1200px]">
        {
          experienceImgLinks.map((image) => (
            <li class="flex justify-center items-center">
              <img
                src={image.link}
                alt={image.name}
                loading="lazy"
                class="max-w-full h-auto md:w-[115px] md:h-[48px]"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <style>
    .gallery {
      display: flex;
      /* grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); */
      gap: 1rem;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  </style>
</div>
