---
const { class: className, ...otherProps } = Astro.props;
---

<h1
  class={`font-bold text-h2 desktop:text-h1 leading-h2 desktop:leading-h1 ${className || ""}`}
  {...otherProps}
>
  <slot />
</h1>
