---
const { ...props } = Astro.props;
---

<button
  {...props}
  class="bg-action05 py-[12px] px-l w-full text-white rounded-rounded flex gap-s justify-center align-middle"
>
  <slot name="icon" />
  <slot name="text" />
</button>
