---
const { ...props } = Astro.props;
---

<a
  {...props}
  class="bg-transparent border-2 hover:bg-neutral02 border-main06 py-m px-l w-full text-white rounded-rounded flex gap-s justify-center align-middle"
>
  <span class="text-main06">
    <slot />
  </span>
</a>
