---
import Whatsapp from "@icons/whatsapp.astro";
import PrimaryButton from "./primaryButton.astro";
---

<PrimaryButton>
  <div slot="icon" class="w-6 h-6">
    <Whatsapp />
  </div>
  <span slot="text" class="font-medium">Contactar</span>
</PrimaryButton>
