---
import Whatsapp from "@icons/whatsapp.astro";
import PrimaryButton from "./primaryButton.astro";
import { personalData } from "@content/personalData";
---

<PrimaryButton href={`https://wa.me/${personalData.phone.replace(/\s+/g, "")}`}>
  <div slot="icon" class="w-6 h-6">
    <Whatsapp />
  </div>
  <span slot="text" class="font-medium">Contactar</span>
</PrimaryButton>
