---
import Button from '@components/ui/button.astro';
import Heading from '@components/ui/heading.astro';
---

<section class="py-xl px-l desktop:w-[50%]">
  <Heading as="h3" class="text-center desktop:text-left"
    >¿Eres parte de un centro?</Heading
  >
  <p class="leading-body mt-4 text-center desktop:text-left">
    Si eres parte de un centro educativo, de integración social, una empresa o
    asociación, puedo acompañaros en vuestro viaje grupal y aprendizaje hacia
    dinámicas sanas y satisfactorias.
  </p>
  <div class="flex justify-center desktop:justify-start mt-8">
    <div class="max-w-[160px]">
      <Button variant="secondary" href="/otros-servicios">Saber más</Button>
    </div>
  </div>
</section>
