---
import ResponsiveImage from '@ui/responsiveImage.astro';
import WhatsappContactButton from '@components/whatsappContactButton.astro';
import hero from '@pictures/hero.png';
import heroMobil from '@pictures/hero-mobile.png';
import Heading from '@components/ui/heading.astro';
---

<section class="bg-accent03 desktop:flex justify-center">
  <div
    class="grid desktop:grid-flow-col desktop:gap-xl desktop:py-xxxl desktop:max-w-[1182px]"
  >
    <div class="grid gap-xs desktop:gap-s px-l max-w-[752px] pb-l pt-xl">
      <Heading as="h1" class="uppercase"
        >Conoce el Centro de Psicología Ashlee Arrieta Lavado</Heading
      >
      <Heading
        as="h2"
        class="text-h3 desktop:text-h2 font-bold leading-h3 desktop:leading-h2"
      >
        Psicóloga especializada en Ansiedad y <span class="capitalize"
          >depresión</span
        >
      </Heading>
      <Heading
        as="h3"
        class="uppercase text-h4 font-normal desktop:text-h4 leading-h4 desktop:leading-h4"
      >
        Terapia presencial en Bilbao y Terapia online
      </Heading>
      <p class="text-body font-normal leading-body">
        Un espacio seguro y acogedor donde encontrarás la empatía y comprensión
        que necesitas durante tú proceso de crecimiento vital.
      </p>
      <div class="mt-8 w-fit">
        <WhatsappContactButton
          text="Reserva tu llamada de valoración gratuita"
        />
      </div>
    </div>
    <div class="desktop:flex desktop:items-center desktop:justify-center">
      <ResponsiveImage
        firstColor="bg-accent03"
        secondColor="bg-white"
        imgDesktop={hero}
        imgMobile={heroMobil}
        height={338}
      />
    </div>
  </div>
</section>
