---
import H3 from "@components/h3.astro";
import SecondaryButton from "@components/secondaryButton.astro";
---

<section class="py-xl px-l desktop:w-[50%]">
  <H3 class="text-center md:text-left">¿Eres parte de un centro?</H3>
  <p class="leading-body mt-4 text-center md:text-left">
    Si eres parte de un centro educativo, de integración social, una empresa o
    asociación, puedo acompañaros en vuestro viaje grupal y aprendizaje hacia
    dinámicas sanas y satisfactorias.
  </p>
  <div class="flex justify-center md:justify-start mt-8">
    <div class="w-full md:max-w-[160px]">
      <SecondaryButton href="/servicios-para-empresas"
        >Saber más</SecondaryButton
      >
    </div>
  </div>
</section>
