---
import H3 from "@components/h3.astro";
import WhatsappContactButton from "@components/whatsappContactButton.astro";

const { title, text } = Astro.props;
---

<section class="bg-neutral02 py-xl px-l">
  <H3 class="mb-4 text-center">
    {title}
  </H3>
  <p class="leading-body text-center mb-8">
    {text}
  </p>
  <div class="w-full">
    <WhatsappContactButton />
  </div>
</section>
