---
import Doctoralia from "@icons/doctoralia.astro";
import Instagram from "@icons/instagram.astro";
import Linkedn from "@icons/linkedn.astro";
import LogoBlackAndWhite from "@icons/logoBlackAndWhite.astro";
---

<footer
  class="bg-neutral08 md:items-start md:py-xxl md:gap-y-[0px] md:px-xxxl p-l pb-xxxl text-white grid gap-xl md:grid-cols-2"
>
  <div class="flex justify-between md:flex-row-reverse md:order-2">
    <a href="/" aria-label="Ir inicio página" class="w-8 h-12">
      <LogoBlackAndWhite />
    </a>
    <div class="flex gap-s">
      <a href="#" aria-label="perfil de Instagram" class="w-6 h-6">
        <Instagram />
      </a>
      <a href="#" aria-label="perfil de LinkedIn" class="w-6 h-6">
        <Linkedn />
      </a>
      <a href="#" aria-label="perfil de Doctoralia" class="w-6 h-6">
        <Doctoralia />
      </a>
    </div>
  </div>
  <div class="grid gap-m md:order-1 md:row-span-2">
    <span class="text-info font-bold leading-info">Contacto</span>
    <div class="grid gap-xs md:gap-xs text-info font-normal leading-info">
      <a href="tel:234523452345" class="">23452345</a>
      <a href="mailto:a@a.com">a@a.com</a>
      <a href="">Gran Vía Don Diego López de Haro 81, Planta 3ª - Bilbao</a>
    </div>
  </div>
  <div class="grid gap-m md:order-3 md:gap-xs">
    <span class="text-info font-bold leading-info">Ashlee Arrieta Lavado</span>
    <p class="text-info font-normal leading-info">
      Colegiada Nº XXX en el Colegio de Psicología de Bizkaia
    </p>
  </div>
</footer>
