---
import Instagram from "@icons/instagram.astro";
import LogoBlackAndWhite from "@icons/logoBlackAndWhite.astro";
---

<footer class="bg-neutral08 p-l pb-xxxl text-white grid gap-xl">
  <div class="flex justify-between">
    <div class="w-8 h-12">
      <LogoBlackAndWhite />
    </div>
    <div class="flex gap-s">
      <div class="w-6 h-6">
        <Instagram />
      </div>
      <div class="w-6 h-6">
        <Instagram />
      </div>
      <div class="w-6 h-6">
        <Instagram />
      </div>
    </div>
  </div>
  <div class="grid gap-m">
    <span>Contacto</span>
    <div class="grid gap-xs">
      <a href="tel:234523452345">23452345</a>
      <a href="mailto:a@a.com">a@a.com</a>
      <a href="">Gran Vía Don Diego López de Haro 81, Planta 3ª - Bilbao</a>
    </div>
  </div>
  <div class="grid gap-m">
    <span>Ashlee Arrieta Lavado</span>
    <p>Colegiada Nº XXX en el Colegio de Psicología de Bizkaia</p>
  </div>
</footer>
