---
import WhatsappContactButton from "@components/whatsappContactButton.astro";
import Bars3 from "@icons/bars3.astro";
import Cross from "@icons/cross.astro";
import LogoWithTitle from "@icons/logoWithTitle.astro";
import SimpleLogo from "@icons/simpleLogo.astro";
---

<header class="bg-white py-l px-l justify-between flex items-center">
  <div>
    <a href="/">
      <div id="long-icon" class="icon h-12 w-[133px]" data-visible="true">
        <LogoWithTitle />
      </div>
      <div
        id="short-icon"
        class="icon md:hidden h-12 w-[30px]"
        data-visible="false"
      >
        <SimpleLogo />
      </div>
    </a>
  </div>

  <div
    id="primary-nav"
    class="primary-nav justify-between grid p-l pt-xl md:p-0 items-center gap-xl"
    data-visible="false"
  >
    <nav>
      <ul>
        <li>
          <a href="/">Página principal</a>
        </li>
        <li>
          <a href="/terapias">Terapias</a>
        </li>
        <li>
          <a href="/servicios-para-empresas">Servicios para empresas</a>
        </li>
      </ul>
    </nav>
    <div class="w-full md:max-w-[166px]">
      <WhatsappContactButton />
    </div>
  </div>

  <button
    id="toggle-menu"
    aria-controls="primary-nav"
    aria-expanded="false"
    class="md:hidden"
  >
    <span class="sr-only">Abrir menu</span>
    <div class="w-10 h-10">
      <Bars3 />
    </div>
  </button>
</header>

<script defer>
  const primaryNav = document.getElementById("primary-nav");
  const toggleMenuButton = document.getElementById("toggle-menu");
  const shortIcon = document.getElementById("short-icon");
  const longIcon = document.getElementById("long-icon");

  const body = document.querySelector("body");

  toggleMenuButton.addEventListener("click", () => {
    const isVisible = primaryNav.getAttribute("data-visible") === "true";

    if (isVisible) {
      primaryNav.setAttribute("data-visible", "false");
      toggleMenuButton.setAttribute("aria-expanded", "false");
      body.classList.remove("removeScroll");
      longIcon.setAttribute("data-visible", "true");
      shortIcon.setAttribute("data-visible", "false");
    } else {
      primaryNav.setAttribute("data-visible", "true");
      toggleMenuButton.setAttribute("aria-expanded", "true");
      body.classList.add("removeScroll");
      longIcon.setAttribute("data-visible", "false");
      shortIcon.setAttribute("data-visible", "true");
    }
  });
</script>

<style>
  .btn-container {
    max-width: 166px;
  }
  .primary-nav {
    display: flex;
    flex-direction: row;
  }

  .primary-nav > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    align-items: center;
  }

  li {
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .primary-nav {
      position: fixed;
      inset: 0;
      margin-top: 96px;
      background: white;
      flex-direction: column;
      overflow: hidden;
      z-index: 999;
      transform: translateX(100%);
    }

    .primary-nav > nav > ul {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
      align-items: center;
    }
    .primary-nav {
      display: flex;
      flex-direction: column;
    }
    .primary-nav[data-visible="true"] {
      transform: translateX(0%);
    }

    .icon[data-visible="false"] {
      display: none;
    }
  }
</style>
