---
import WhatsappContactButton from "@components/whatsappContactButton.astro";
import Bars3 from "@icons/bars3.astro";
import Cross from "@icons/cross.astro";
import LogoWithTitle from "@icons/logoWithTitle.astro";
import SimpleLogo from "@icons/simpleLogo.astro";

const { pathname } = Astro.url;

const links = [
  {
    href: "/",
    name: "Página principal",
  },
  {
    href: "/terapias",
    name: "Terapias",
  },
  {
    href: "/servicios-para-empresas",
    name: "Servicios para empresas",
  },
].map((link) => ({
  ...link,
  active: pathname === link.href,
}));
---

<header
  id="app-header"
  class="bg-white py-l px-l justify-between flex items-center drop-shadow-[0_0px_24px_rgba(141,166,162,0.3)] fixed w-full z-50"
>
  <div>
    <a href="/">
      <div id="long-icon" class="icon h-12 w-[133px]" data-visible="true">
        <LogoWithTitle />
      </div>
      <div
        id="short-icon"
        class="icon md:hidden h-12 w-[30px]"
        data-visible="false"
      >
        <SimpleLogo />
      </div>
    </a>
  </div>

  <div
    id="primary-nav"
    class="primary-nav justify-between grid p-l pt-xl md:p-0 items-center gap-xl"
    data-visible="false"
  >
    <nav>
      <ul>
        {
          links.map((link) => (
            <li
              class={`${link.active ? "text-action04 border-b-2 border-action04" : ""} border-b-2 border-white p-s`}
            >
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="w-full md:max-w-[166px]">
      <WhatsappContactButton />
    </div>
  </div>

  <button
    id="toggle-menu"
    aria-controls="primary-nav"
    aria-expanded="false"
    class="md:hidden"
  >
    <span class="sr-only">Abrir/Cerrar menu</span>
    <div class="w-10 h-10">
      <div class="barsIcon icon" data-visible="true">
        <Bars3 />
      </div>
      <div class="crossIcon icon" data-visible="false">
        <Cross />
      </div>
    </div>
  </button>
</header>

<script defer>
  const primaryNav = document.getElementById("primary-nav");
  const toggleMenuButton = document.getElementById("toggle-menu");
  const shortIcon = document.getElementById("short-icon");
  const longIcon = document.getElementById("long-icon");

  const barsIcon = document.querySelector(".barsIcon");
  const crossIcon = document.querySelector(".crossIcon");
  const header = document.getElementById("app-header");

  const body = document.querySelector("body");

  toggleMenuButton.addEventListener("click", () => {
    const isVisible = primaryNav.getAttribute("data-visible") === "true";

    if (isVisible) {
      primaryNav.setAttribute("data-visible", "false");
      toggleMenuButton.setAttribute("aria-expanded", "false");
      body.classList.remove("removeScroll");
      longIcon.setAttribute("data-visible", "true");
      shortIcon.setAttribute("data-visible", "false");

      barsIcon.setAttribute("data-visible", "true");
      crossIcon.setAttribute("data-visible", "false");
      header.classList.add("drop-shadow-[0_0px_24px_rgba(141,166,162,0.3)]");
    } else {
      primaryNav.setAttribute("data-visible", "true");
      toggleMenuButton.setAttribute("aria-expanded", "true");
      body.classList.add("removeScroll");
      longIcon.setAttribute("data-visible", "false");
      shortIcon.setAttribute("data-visible", "true");

      barsIcon.setAttribute("data-visible", "false");
      crossIcon.setAttribute("data-visible", "true");
      header.classList.remove("drop-shadow-[0_0px_24px_rgba(141,166,162,0.3)]");
    }
  });
</script>

<style>
  .btn-container {
    max-width: 166px;
  }
  .primary-nav {
    display: flex;
    flex-direction: row;
  }

  .primary-nav > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    align-items: center;
  }

  li {
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .primary-nav {
      position: fixed;
      inset: 0;
      margin-top: 96px;
      background: white;
      flex-direction: column;
      overflow: hidden;
      z-index: 999;
      transform: translateX(100%);
    }

    .primary-nav > nav > ul {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
      align-items: center;
    }
    .primary-nav {
      display: flex;
      flex-direction: column;
    }
    .primary-nav[data-visible="true"] {
      transform: translateX(0%);
    }

    .icon[data-visible="false"] {
      display: none;
    }
    .primary-nav[data-visible="true"] {
      transform: translateX(0%);
    }

    .icon[data-visible="false"] {
      display: none;
    }
  }
</style>
