---
import H3 from "@components/h3.astro";
import List from "@components/list.astro";
---

<section class="py-xxl px-l">
  <H3>Te puedo ayudar con...</H3>
  <List class="mt-6">
    <li>Dependencia emocional</li>
    <li>Ansiedad</li>
    <li>Depresi贸n</li>
    <li>Dificultades de la atenci贸n</li>
    <li>Habilidades de comunicaci贸n</li>
    <li>Prevenci贸n del suicidio</li>
  </List>
</section>
