---
import H1 from "@components/h1.astro";
import ResponsiveImage from "@components/responsiveImage.astro";
import WhatsappContactButton from "@components/whatsappContactButton.astro";
import hero from "@pictures/hero.png";
import heroMobil from "@pictures/hero-mobile.png";
import H2 from "@components/h2.astro";
---

<section class="bg-accent03 desktop:flex justify-center">
  <div
    class="grid desktop:grid-flow-col desktop:gap-xl desktop:py-xxxl desktop:max-w-[1182px]"
  >
    <div class="grid gap-xs desktop:gap-s px-l max-w-[752px] pb-l pt-xl">
      <H1>Conoce el Centro de Psicología Ashlee Arrieta Lavado</H1>
      <H2>Acompañándote en tu camino hacia el bienestar emocional.</H2>
      <p class="text-body font-normal leading-body">
        Un espacio seguro y acogedor donde encontrarás la empatía y comprensión
        que necesitas durante tú proceso de crecimiento vital.
      </p>
      <div class="mt-8 max-w-[160px]">
        <WhatsappContactButton />
      </div>
    </div>
    <ResponsiveImage
      firstColor="bg-accent03"
      secondColor="bg-white"
      imgDesktop={hero}
      imgMobile={heroMobil}
    />
  </div>
</section>
