---
import WhatsappContactButton from "@components/whatsappContactButton.astro";
---

<section class="bg-accent03 pt-xxl">
  <div class="grid gap-sx px-l">
    <h1 class="font-bold text-h2 desktop:text-h1 leading-h2 desktop:leading-h1">
      Bienvenido/a al Centro de Psicología Ashlee Arrieta Lavado
    </h1>
    <h3 class="text-h3 leading-h3 font-bold">
      Acompañándote en tu camino hacia el bienestar emocional.
    </h3>
    <p class="text-body font-normal leading-body">
      Un espacio seguro y acogedor donde encontrarás la empatía y comprensión
      que necesitas durante tú proceso de crecimiento vital.
    </p>
    <div class="mt-8">
      <WhatsappContactButton />
    </div>
  </div>
  <!-- <div class="relative overflow-hidden h-[456px]">
    <img src="/hero.png" alt="" class="absolute max-w-[110%] -left-5" />
  </div> -->
</section>
