---
import H1 from "@components/h1.astro";
import ResponsiveImage from "@components/responsiveImage.astro";
import WhatsappContactButton from "@components/whatsappContactButton.astro";
---

<section
  class="bg-accent03 md:py-xxxl md:px-xxxl grid md:grid-flow-col md:gap-m"
>
  <div class="grid gap-xs px-l md:px-0 max-w-[622px] pb-l pt-xl">
    <H1> Bienvenido/a al Centro de Psicología Ashlee Arrieta Lavado </H1>
    <h2 class="text-h3 leading-h3 font-bold">
      Acompañándote en tu camino hacia el bienestar emocional.
    </h2>
    <p class="text-body font-normal leading-body">
      Un espacio seguro y acogedor donde encontrarás la empatía y comprensión
      que necesitas durante tú proceso de crecimiento vital.
    </p>
    <div class="mt-8 max-w-[160px]">
      <WhatsappContactButton />
    </div>
  </div>
  <ResponsiveImage
    firstColor="bg-accent03"
    secondColor="bg-white"
    imgDesktop="/hero.png"
    imgMobile="/hero-mobile.png"
  />
</section>
