<section class="px-l desktop:py-xxxl py-xxl gap-s flex justify-center">
  <div
    class="desktop:max-w-[1000px] justify-center grid desktop:grid-flow-col gap-xl"
  >
    <p class="text-pretty">
      Soy <span>Ashlee Arrieta Lavado, Psicóloga Sanitaria</span> apasionada por
      el bienestar emocional y el crecimiento personal. Me formé en Psicología en
      la Universidad de Deusto en Bilbao y he complementado mi preparación con estudios
      avanzados en prevención e intervención de problemas de conducta escolar y Psicología
      Cognitivo Conductual. Además, me he especializado en el diagnóstico e inclusión
      social de personas con Trastornos del Espectro Autista y Neuropsicología.
    </p>
    <p class="text-pretty">
      A lo largo de mi carrera, he desarrollado una vocación profunda por ayudar
      a las personas a <span>lidiar con situaciones difíciles </span>desde la
      cercanía y el respeto. Creo firmemente en la importancia de crear un
      espacio donde mis pacientes puedan <span>abrirse sin temor al juicio</span
      > y sentirse genuinamente escuchados.
    </p>
  </div>
</section>
