---
import Experience from "@components/experience.astro";
import H3 from "@components/h3.astro";
import List from "@components/list.astro";
import ResponsiveImage from "@components/responsiveImage.astro";
import kvFull from "@pictures/kv-full.png";
import kvMobile from "@pictures/kv-mobile.png";

const pains = [
  "Ansiedad",
  "Depresión",
  "Regulación emocional",
  "Dificultades de la atención",
  "Solución de problemas",
  "Habilidades de comunicación",
  "Inteligencia emocional",
  "Dependencia emocional",
  "Prevención del suicidio",
  "Bulling",
];
---

<section class="grid md:grid-cols-2">
  <div class="md:col-span-2 order-2 md:order-1">
    <Experience />
  </div>
  <div
    class="order-3 md:order-2 px-l md:pr-[80px] py-xxl md:grid md:justify-end"
  >
    <div>
      <H3>Te puedo ayudar con...</H3>
      <List class="mt-6">
        {
          pains.map((pain) => (
            <li>
              <p class="text-bullet leading-bullet">{pain}</p>
            </li>
          ))
        }
      </List>
    </div>
  </div>
  <div class="order-1 md:order-2 grid md:justify-start md:pl-[80px]">
    <ResponsiveImage
      firstColor="bg-neutral02"
      secondColor="bg-white"
      imgDesktop={kvFull}
      imgMobile={kvMobile}
    />
  </div>
</section>
