---
import Experience from '@components/experience.astro';
import List from '@components/list.astro';
import ResponsiveImage from '@components/responsiveImage.astro';
import Heading from '@components/ui/heading.astro';
import kvFull from '@pictures/kv-full.png';
import kvMobile from '@pictures/kv-mobile.png';

const pains = [
  'Ansiedad',
  'Depresión',
  'Regulación emocional',
  'Dificultades de la atención',
  'Solución de problemas',
  'Habilidades de comunicación',
  'Inteligencia emocional',
  'Dependencia emocional',
  'Prevención del suicidio',
  'Bulling',
];
---

<section class="grid desktop:grid-cols-2">
  <div class="desktop:col-span-2 order-2 desktop:order-1">
    <Experience />
  </div>
  <div
    class="order-3 desktop:order-2 px-l desktop:pr-[80px] py-xxl desktop:grid desktop:justify-end"
  >
    <div>
      <Heading as="h3">Te puedo ayudar con...</Heading>
      <List class="mt-6">
        {
          pains.map(pain => (
            <li>
              <p class="text-bullet leading-bullet">{pain}</p>
            </li>
          ))
        }
      </List>
    </div>
  </div>
  <div class="order-1 desktop:order-2 grid desktop:justify-start">
    <ResponsiveImage
      firstColor="bg-neutral02"
      secondColor="bg-white"
      lazy={true}
      imgDesktop={kvFull}
      imgMobile={kvMobile}
    />
  </div>
</section>
