<section>
  <blockquote
    class="text-h4 text-center font-medium leading-h4 text-main09 py-xxl px-l"
  >
    "Esto es una alteración de elementos comunes"
    <footer class="text-center text-neutral07 mt-2 text-info">
      Juan Cuesta
    </footer>
  </blockquote>
</section>
