<section class="desktop:w-[50%] flex items-center">
  <blockquote
    class="text-h4 text-center font-medium leading-h4 text-main09 py-xxl px-l"
  >
    “El éxito es la suma de pequeños esfuerzos repetidos día tras día” <footer
      class="text-center text-neutral07 mt-2 text-info"
    >
      Robert Collier
    </footer>
  </blockquote>
</section>
