---
import Heading from '@components/ui/heading.astro';
import SummaryTherapyCard from '@components/summaryTherapyCard.astro';
import { therapies } from '@content/therapies';
import Slider from '@components/slider/slider.astro';
import SliderItem from '@components/slider/sliderItem.astro';
---

<section class="py-xl desktop:flex desktop:justify-center">
  <div class="max-w-[1200px] mx-0 my-auto w-full">
    <Heading as="h4" class="font-medium px-[40px]"
      >Escoje la terapia que mejor se adapte a ti:
    </Heading>
    <Slider client:load>
      {
        therapies.map(card => (
          <SliderItem>
            <SummaryTherapyCard
              id={card.title}
              title={`Terapia ${card.title}`}
              time={card.inPersonTimeInMinutes}
              details={card.summaryDetails}
            />
          </SliderItem>
        ))
      }
    </Slider>
  </div>
</section>
