---
import Heading from '@components/ui/heading.astro';

---

<div class="text-center py-xl">
  <Heading as="h2" variant="h3">Aún no hay artículos publicados</Heading>
  <p class="mt-4 text-neutral07">Vuelve pronto para leer nuevo contenido</p>
</div>