---
const { price, disclaimer } = Astro.props;
---

<div
  class="border-2 border-accent04 bg-accent02 rounded-rounded px-[15px] py-[6px]"
>
  <p class="text-info font-light text-center">
    <span class="text-h4 font-medium text-main09">{price}</span> € {
      disclaimer && '*'
    }
  </p>
</div>
