---
import Footer from '@sections/footer.astro';
import Header from '@sections/header.astro';
import { siteData } from '@content/siteData';
import Seo from '@components/seo.astro';
import { ClientRouter } from 'astro:transitions';

const { title, description, canonical, image } = siteData;

import GoogleAnalytics from '@components/googleAnalytics.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <Seo
      title={title}
      description={description}
      canonical={canonical}
      image={image}
    />
    <GoogleAnalytics />
    <ClientRouter />
    <!--Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="bg-white text-main09">
    <Header />
    <main class="pt-xxxl">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    scroll-padding-top: 100px; /* Adjust this value to match your header's height */
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  span {
    font-weight: 700;
  }

  p {
    line-height: 22.4px;
    text-wrap: pretty;
  }
  #menu-toggle:checked + #menu {
    display: block;
  }

  .removeScroll {
    height: 100%;
    overflow: hidden;
  }
  li > p {
    position: relative;
    left: 14px;
  }
</style>
