---
import ResponsiveImage from '@ui/responsiveImage.astro';
import Contact from '@sections/contact.astro';
import Layout from '@layouts/Layout.astro';

import kvSecondaryFull from '@pictures/kv-secondary-full.png';
import kvSecondaryMobile from '@pictures/kv-secondary-mobile.png';
import Heading from '@components/ui/heading.astro';
---

<Layout>
  <section
    class="desktop:py-xxxl desktop:px-xxxl grid desktop:grid-flow-col desktop:gap-xl desktop:justify-center"
  >
    <div
      class="grid gap-xs desktop:gap-s px-l desktop:px-0 desktop:max-w-[630px] py-xxxl desktop:py-0"
    >
      <Heading as="h1" variant="h2">
        Charlas y dinámicas para impulsar el bienestar y la cohesión en tu
        equipo.
      </Heading>
      <p class="leading-body">
        Trabajo con Centros Educativos, Centros de Integración Social, Empresas
        y asociaciones.
      </p>
      <p class="leading-body">
        Ya sea mediante talleres, charlas o sesiones con diversas temáticas, <span
          >me adapto a las necesidades de tu equipo</span
        >, ayudándoos a conectar y desarrollaros en un entorno de confianza.
      </p>
      <p class="leading-body mt-3">
        No dudes en contactarme para contarme vuestra situación y encontraremos
        la mejor manera de crecer juntos/as.
      </p>
    </div>
    <ResponsiveImage
      class="flex items-center justify-center align-middle h-[340px] desktop:h-auto"
      imgDesktop={kvSecondaryFull}
      imgMobile={kvSecondaryMobile}
    />
  </section>
  <Contact
    title="¿Te gustaría saber más sobre cómo podemos colaborar?"
    text="¡Me adapto a vuestras necesidades! Cuéntame vuestra situación."
  />
</Layout>
