---
import Star from '@icons/star.astro';

const MAX_STARS = 5;

interface Props {
  count: number;
}

const { count } = Astro.props as Props;
const stars = new Array(count).fill(0);
---

<div role="img" aria-label={`${count} de ${MAX_STARS} estrellas`}>
  <ul class="flex gap-[.5px]" aria-hidden="true">
    {
      stars.map(() => (
        <li>
          <Star />
        </li>
      ))
    }
  </ul>
</div>
