---
import { cn } from '@lib/utils';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'p'> {}

const { class: className, ...props } = Astro.params as Props;
---

<p
  class={cn(
    'marginBlock text-pretty text-body leading-body font-normal m',
    className
  )}
  {...props}
>
  <slot />
</p>

<style is:inline>
  .marginBlock {
    margin-block: 1em;
    margin-block: 1lh;
  }
</style>
