---
import Clock from '@icons/clock.astro';

interface Props {
  timeInMinutes: number;
}

const { timeInMinutes } = Astro.props as Props;
---

<div class="flex gap-xxs">
  <div class="h-6 w-6">
    <Clock />
  </div>
  <p class="text-info font-light">
    <span class="text-h4 font-medium text-main09">{timeInMinutes}</span> min
  </p>
</div>
